# Supabase Configuration
SUPABASE_URL=https://dhirwwytreumhebccuht.supabase.co
SUPABASE_ANON_KEY=tu_anon_key_aqui

# Server
PORT=8000
NODE_ENV=development

# JWT
JWT_SECRET=4j3n+6=2^fk_cp6q4)f8-+8zgekyz2zojx5uyamn(^cao6b(zw
JWT_EXPIRES_IN=7d

# CORS
ALLOWED_ORIGINS=*
